[submodule "theme/edgy"]
	path = theme/edgy
	url = git@github.com:wit-ctel/edgy.git
[submodule "course/format/simple"]
	path = course/format/simple
	url = git@github.com:wit-ctel/moodle-format_simple.git
[submodule "blocks/course_contents"]
	path = blocks/course_contents
	url = git@github.com:wit-ctel/moodle-block_course_contents.git
[submodule "blocks/academic_year"]
	path = blocks/academic_year
	url = git@github.com:wit-ctel/Moodle-block_academic-year.git
[submodule "local/academicyear"]
	path = local/academicyear
	url = git@github.com:wit-ctel/Moodle-local_academic-year.git
[submodule "mod/readinglist"]
	path = mod/readinglist
	url = git@github.com:wit-ctel/readinglist.git
[submodule "blocks/attendance"]
	path = blocks/attendance
	url = git@github.com:wit-ctel/moodle-block_attendance.git
