[submodule "theme/edgy"]
	path = theme/edgy
	url = git@github.com:wit-ctel/edgy.git
[submodule "course/format/simple"]
	path = course/format/simple
	url = git@github.com:wit-ctel/moodle-format_simple.git
